{% extends 'Master.html' %}

{% block title %}
  Welcome to your MainBoard
{% endblock title %}

{% block contents %}

  <h3><b>Features</b></h3>

  <p>Welcome to TestCompanion! This platform provides you with a range of powerful features to manage and customize your experience. Explore the following sections to make the most out of MainBoard:</p>

  <h4><u>Users</u></h4>
  <p>The Users section allows you to efficiently manage user accounts. Administer permissions, designate roles, and organize users as per your system's requirements. This feature empowers you to tailor access levels and control who can perform various actions within the system.</p>

  <h4><u>Email Server Setup</u></h4>
  <p>Configure email forwarding seamlessly with the Email Server Setup feature. Ensure effective communication and streamline the forwarding of important messages. Follow the provided steps to set up email server settings and optimize your email workflow.</p>

  <h4><u>Tests</u></h4>
  <p>The Tests section is designed for applicants to complete assessments as part of the application process. Administer and manage tests efficiently, review results, and make informed decisions based on applicants' performances. This feature simplifies the evaluation process and enhances your recruitment procedures.</p>

  <h4><u>Profile</u></h4>
  <p>Customize your personal profile in the Profile section. Update your details, change preferences, and tailor MainBoard to suit your needs. Your profile is your space on MainBoard, so make it uniquely yours.</p>

  <p>Explore each section to unlock the full potential of MainBoard and streamline your tasks effortlessly.</p>

{% endblock contents %}
